$icomoon-font-family: "logosgifos" !default;
$icomoon-font-path: "fonts" !default;

$icon-logo-mobile: "\63";
$icon-logo-mobile-modo-noct: "\64";
$icon-Logo-modo-noc: "\62";
$icon-logo-desktop: "\61";

