body{
    background-color:#572EE5;
    width: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;


    nav{
        height: 48px;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 80px;
        z-index: 99;
        border-top: solid 5px #572EE5;

        .logo{
            font-family: 'Roboto', sans-serif;

            img{
                padding-top: 10px;
            }
        }

        img{
            width: 40px;
        }

        .menu{
            width: 600px;
        }

       


        .menu_mobile{
            padding-top: 5px;

           input{
              display: block;
              width: 40px;
              height: 32px;
              position: absolute;
              cursor: pointer;
              opacity: 0;
              z-index: 2; 
              -webkit-touch-callout: none;
            }


            span{
            display: block;
            width: 33px;
            height: 4px;
            margin-bottom: 5px;
            position: relative;
            background: #cdcdcd;
            border-radius: 3px;
            z-index: 1;
            transform-origin: 4px 0px;
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        opacity 0.55s ease;
            }

            span:first-child{
            transform-origin: 0% 0%;
            }

            span:nth-last-child(2){
            transform-origin: 0% 100%;
            }



            input:checked ~ span{
            opacity: 1;
            transform: rotate(45deg) translate(-2px, -1px);
            background: #232323;
            }

            
            input:checked ~ span:nth-last-child(3){
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
            }

            
            input:checked ~ span:nth-last-child(2){
            transform: rotate(-45deg) translate(0, -1px);
            }
            
            
        }

        ul{
            margin: 7px;
            list-style-type: none;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;


                li{
                    font-size: 12px;
                    margin: 0;
                    padding: 0 20px;
                    cursor: pointer;

                    a{
                        text-decoration: none;
                    }
                }


                h4{
                    color: #572EE5;
                    text-decoration: underline;
                    text-decoration-color: transparent;
                }

                h4:hover{
                    text-decoration-color:rgba(0,243,187,1);
                    transition: 0.2s;
                }
                
            }

        }

    }


        .dropdown_menu{
            position: absolute;
            top:-80px;
        }

        #menumobile:checked ~ .dropdown_menu{
            background-color: rgba(76,42,218,0.9);
            top: 68px;
            left: 0px;
            width: 100%;
            height: 100%;
            z-index: 99;

            ul{
                display: flex;
                flex-direction: column;
                padding: 20px;
                text-align: center;

                li a{
                    color: white;
                }

                

            }
        }

        .text_container h3{
            font-size: 32px;
            font-weight: 400;
        }

        .text_container p{
            width: 320px;
            font-size: 11px;
        }



        .mainbanner, .mainbanner2{
            padding-top: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: white;

            h1, h3{
                font-weight: 600;
                text-align: center;
                font-size: 40px;
                margin: 0;
                color: #572EE5;

                b{
                   color:#50E3C2;
                }
            }


            .searchBar{
                display: inline;
                width: 50%;


                .autocomplete {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    border: 2px solid #572EE5;
                    border-radius: 40px;
                    padding: 10px 20px;
                  }

                  input{
                    font-size: 14px;
                    border: transparent;
                    width: 90%;
                    background-color: transparent;
                    color: #572EE5;
                  }

                  i{
                      color:#572EE5
                  }
                  
                
                
                .results {
                    padding: 0px;
                    position: absolute;
                }
                
                .results ul {margin: 0; padding: 0; }
                .results ul li {
                    list-style: none;
                    opacity: 0;
                    display: none;
                    padding: 8px 12px;
                    transition: all .2s;
                }
                
                .show .results ul li {
                    opacity: 1;
                    display: block;
                    background: white;
                }
                
                .show .results {
                    margin: 0 15px;
                }
                
                .results ul li:hover {
                    background: #572EE5;
                    color: white;
                }



            }

            .trendingTopics{
                text-align: center;
                margin: 60px 0;
                cursor: pointer;

                h4, span{
                    color:#572EE5;
                    margin: 10px 0;
                }

            }


        }

        .mainbanner2{

            h3{
                padding-top: 10px;
                font-size: 20px;
                font-weight: 700;
            }
        }

        #searchResult{
            display: none;
            flex-wrap: wrap;
            justify-content: center;
            padding: 0 60px;

        }

        #searchTerm{
            display: none;
            padding-bottom: 30px;

            h2{
                color:#572EE5;
                margin: 10px 0;
                font-size: 30px;
            }
        }

        #verMasCont{
            display: none;
            padding: 30px 0 60px 0;
        }

        #favResult{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 60px;

        }

        #uplResult{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 60px;

        }




        .searchBtn{
            cursor: pointer;
        }

        .trendingSlider{
            padding: 40px 0;
            background-color: #F3F5F8;
            display: flex;
            flex-direction: column;
            align-items: center;

            h2{
                color:#572EE5;
                margin: 10px 0;
            }

            

            .trendingSliderBlock{
                height: 250px;
                width: 100%;
                margin-top: 40px;
                display: flex;
                align-items: center;
                justify-content: center;

                .larrow, .rarrow{
                    cursor: pointer;
                }


                .trendingSliderCont{
                    width: 900px;
                    margin: 10px;
                    display: flex;
                    flex-direction: row;
                    overflow: hidden;

            }
        }

        }




        .gifoCard, .gifoCardTrending{
            position: relative;
            margin: 10px;

            .gifoOverlay{
                position: absolute;
                top:0;
                height: 98%;
                width: 100%;
                color: transparent;
                color: transparent;


                h4, h5{
                    padding: 0 10px;
                }

                h4{
                    font-size: 14px;
                }

                h5{
                    font-size: 11px;
                }
                

            .gifoOverlayAct{
               display: none;

                span{
                    padding:6px 3px;
                    cursor: pointer;
                }

            }


            }
        }

        .gifoCard:hover .gifoOverlay{
            color: white;
            background-color: rgba(86, 46, 229, 0.7);
            transition: 0.2s;
        }

        .gifoCard:hover .gifoOverlay .gifoOverlayAct{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }


        .gifoCardTrending:hover .gifoOverlay{
            color: white;
            background-color: rgba(86, 46, 229, 0.7);
            transition: 0.2s;
        }

        .gifoCardTrending:hover .gifoOverlay .gifoOverlayAct{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }





        .imgExpandidaDet{
            margin-top: 20px;
            width: 60%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            .imgExpandidaInfo h4, h5{
                margin: 8px 0;
                color: #572EE5;
             }

             .imgExpandidaAct span{
                padding: 0 5px;
             }


        }

        




        footer{
            padding: 25px 80px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-bottom: solid 5px #572EE5;
            background-color: white;

                p{
                    font-size: 12px;
                    margin-top: 20px;
                }

                .socialmedia{
                    display: flex;
                }
            
                .socialmedia ul{
                    display: flex;
                    justify-content: space-around;
                    padding: 0 20px;
                }

                .socialmedia ul li{
                    padding: 0 10px;
                    list-style-type: none;

                    span{
                        font-size: 18px;
                        color: #CDD6E0 ;
                        letter-spacing: 0;
                        line-height: 28px;
                        transition: 0.2s;
                    }

                    span:hover{
                        transition: 0.2s;
                        color: #572EE5;
                    }

                }
        }



        @media only screen and (max-width: 600px) {
            .menu{
                display: none;
            }
            nav{
                padding: 20px 40px;

                li{
                    padding: 10 0px;
                }
            }
            section{
                padding: 20px;
            }
            
            .mainbanner{
                padding-top: 50px;

                p{
                    width: 100%;
                }

                .searchBar{
                    width: 80%;
                }

            }

            footer{
                text-align: center;
                flex-direction: column;
                justify-content: center;

                .socialmedia{
                    display: block;
                }

                .socialmedia ul{
                    display: flex;
                    justify-content: space-around;
                    padding: 0 20px;
                }

            }

        }

        @media only screen and (min-width: 601px) {
            .menu_mobile{
                display: none;
            }
        }



.noResult{
    display: flex;
    flex-direction: column;
    align-items: center;


    h4{
        color: #50E3C2;
    }

}

.boton{
    background-color: transparent;
    border: 1px solid #572EE5;
    border-radius: 40px;
    text-transform: uppercase;
    color: #572EE5;
    padding: 15px 30px 15px 30px;
    font-weight: 600;
    font-size: 12px;
    font-family: 'Montserrat', serif;
    transition: 0.2s;
    cursor: pointer;
}

.boton:hover{
    background-color: #572EE5;
    color: white;
    transition: 0.2s;
}





  
  .modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: white;
  }
  

  .modal-content, .modal-content2, .modal-content3, .modal-content4, .modal-content9, .modal-contentX{
    position: relative;
    margin: auto;
    padding: 0;
    width: 90%;
    height: 100%;
    max-width: 1200px;
  }
  

  .close {
    color: #572EE5;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: light;
  }
  
  .close:hover,
  .close:focus {
    color: #572EE5;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .slides, .searchCard, .favCard, .uplCard, .ttCard, .sggsCard{
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #572EE5;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }


  #btn-stop-recording{
      display: none;
  }

  #btn-send{
      display: none;
  }


  .crearGifoSec{
      display: flex;
      justify-content: center;
      background-color: white;

    .crearGifoImg{
        display: flex;
        flex-direction: row;
        width: 200px;
     }


  }






  /* Style the form */
#regForm {
    padding: 40px;
  }
  
  
  
  /* Hide all steps by default: */
  .tab {
    text-align: center;
    display: none;
    width: 600px;

    .tabCard{
        width: 100%;
        height: 350px;
        border: #572EE5 solid 2px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3{
            color: #572EE5;
        }

        b{
            color: #50E3C2;
        }

        p{
            font-size: 12px;
            line-height: 24px;
        }


        .videoGifo{
            width: 100%;
            height: 300px;
            display: none;
        }

    
    }

    

    .boton{
        margin-top: 30px;
    }

  }

  .pasos{


    span:nth-child(1){
        display: none;
    }

    span:nth-child(2){
        padding: 10px 16px;
    }

    span{
        color:#572EE5;
        border: #572EE5 solid 1px;
        border-radius: 40px;
        padding: 10px 15px;
        font-size: 12px;
        width: 30px;
        margin: 0 7px;
    }

    span{
        color:#572EE5;
        border: #572EE5 solid 1px;
        border-radius: 40px;
        padding: 10px 15px;
        font-size: 12px;
        width: 30px;
        margin: 0 7px;
    }

    

  }

    #btnBack{
        display: none;
        font-family: 'Montserrat', sans-serif;
        background-color: transparent;
        text-decoration: none;
        font-size: 12px;
        color: #572EE5;
        transition: 0.2s;
        height: 30px;
        border: none;
        text-transform: uppercase;
        font-weight: 700;
        text-decoration: underline;
        text-decoration-color: transparent;
    }

    #btnBack:hover{
        text-decoration-color: rgba(0,243,187,1);
        transition: 0.1s;
    }



    .recordControls{
        padding-top: 30px;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;

        #columna{
            display: none;
            width: 130px;
        }


    }

    .recordedGifo{
        height: 100%;
        display: none;
    }

    .recordedGifo2{
        height: 100%;
    }


  .divisor{
      margin-top: 30px;
      width: 100%;
      height: 5px;
      border-radius: 20px;
      background-color: #572EE5;
  }




  .mdDiu{
      display: none;
  }

  //MODO NOCTURNO

  .darkBg{
      background-color: #37383C !important;
      transition: 0.3s;
  }

  .rllyDarkBg{
    background-color: #222326 !important;
    transition: 0.3s;
  }

  .darkTxt{
      color: white !important;
      transition: 0.3s;
  }
