body {
  background-color: #572EE5;
  width: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body nav {
  height: 48px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 80px;
  z-index: 99;
  border-top: solid 5px #572EE5;
}

body nav .logo {
  font-family: 'Roboto', sans-serif;
}

body nav .logo img {
  padding-top: 10px;
}

body nav img {
  width: 40px;
}

body nav .menu {
  width: 600px;
}

body nav .menu_mobile {
  padding-top: 5px;
}

body nav .menu_mobile input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

body nav .menu_mobile span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

body nav .menu_mobile span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

body nav .menu_mobile span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

body nav .menu_mobile input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

body nav .menu_mobile input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

body nav .menu_mobile input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

body nav ul {
  margin: 7px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body nav ul li {
  font-size: 12px;
  margin: 0;
  padding: 0 20px;
  cursor: pointer;
}

body nav ul li a {
  text-decoration: none;
}

body nav ul h4 {
  color: #572EE5;
  text-decoration: underline;
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent;
}

body nav ul h4:hover {
  -webkit-text-decoration-color: #00f3bb;
          text-decoration-color: #00f3bb;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.dropdown_menu {
  position: absolute;
  top: -80px;
}

#menumobile:checked ~ .dropdown_menu {
  background-color: rgba(76, 42, 218, 0.9);
  top: 68px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 99;
}

#menumobile:checked ~ .dropdown_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  text-align: center;
}

#menumobile:checked ~ .dropdown_menu ul li a {
  color: white;
}

.text_container h3 {
  font-size: 32px;
  font-weight: 400;
}

.text_container p {
  width: 320px;
  font-size: 11px;
}

.mainbanner, .mainbanner2 {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.mainbanner h1, .mainbanner h3, .mainbanner2 h1, .mainbanner2 h3 {
  font-weight: 600;
  text-align: center;
  font-size: 40px;
  margin: 0;
  color: #572EE5;
}

.mainbanner h1 b, .mainbanner h3 b, .mainbanner2 h1 b, .mainbanner2 h3 b {
  color: #50E3C2;
}

.mainbanner .searchBar, .mainbanner2 .searchBar {
  border: 2px solid #572EE5;
  border-radius: 40px;
  width: 60%;
  padding: 5px 40px;
  margin-bottom: 40px;
}

.mainbanner .searchBar form, .mainbanner2 .searchBar form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.mainbanner .searchBar .autocomplete, .mainbanner2 .searchBar .autocomplete {
  /*the container must be positioned relative:*/
  width: 100%;
  position: relative;
  display: inline-block;
}

.mainbanner .searchBar input, .mainbanner2 .searchBar input {
  padding: 10px;
  font-size: 14px;
  border: transparent;
  width: 90%;
}

.mainbanner .searchBar i, .mainbanner2 .searchBar i {
  color: #572EE5;
}

.mainbanner .searchBar .autocomplete-items, .mainbanner2 .searchBar .autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.mainbanner .searchBar .autocomplete-items div, .mainbanner2 .searchBar .autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.mainbanner .searchBar .autocomplete-items div:hover, .mainbanner2 .searchBar .autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.mainbanner .searchBar .autocomplete-active, .mainbanner2 .searchBar .autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.mainbanner .trendingTopics, .mainbanner2 .trendingTopics {
  text-align: center;
  margin-bottom: 60px;
}

.mainbanner .trendingTopics h4, .mainbanner .trendingTopics span, .mainbanner2 .trendingTopics h4, .mainbanner2 .trendingTopics span {
  color: #572EE5;
  margin: 10px 0;
}

.mainbanner2 h3 {
  padding-top: 10px;
  font-size: 20px;
  font-weight: 700;
}

#searchResult {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 60px;
}

#searchTerm {
  display: none;
  padding-bottom: 30px;
}

#searchTerm h2 {
  color: #572EE5;
  margin: 10px 0;
  font-size: 30px;
}

#verMasCont {
  display: none;
  padding: 30px 0 60px 0;
}

#favResult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px;
}

#uplResult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px;
}

.searchBtn {
  cursor: pointer;
}

.trendingSlider {
  padding: 40px 0;
  background-color: #F3F5F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trendingSlider h2 {
  color: #572EE5;
  margin: 10px 0;
}

.trendingSlider .trendingSliderBlock {
  height: 250px;
  width: 100%;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.trendingSlider .trendingSliderBlock .larrow, .trendingSlider .trendingSliderBlock .rarrow {
  cursor: pointer;
}

.trendingSlider .trendingSliderBlock .trendingSliderCont {
  width: 900px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
}

.gifoCard, .gifoCardTrending {
  position: relative;
  margin: 10px;
}

.gifoCard .gifoOverlay, .gifoCardTrending .gifoOverlay {
  position: absolute;
  top: 0;
  height: 98%;
  width: 100%;
  color: transparent;
  color: transparent;
}

.gifoCard .gifoOverlay h4, .gifoCard .gifoOverlay h5, .gifoCardTrending .gifoOverlay h4, .gifoCardTrending .gifoOverlay h5 {
  padding: 0 10px;
}

.gifoCard .gifoOverlay h4, .gifoCardTrending .gifoOverlay h4 {
  font-size: 14px;
}

.gifoCard .gifoOverlay h5, .gifoCardTrending .gifoOverlay h5 {
  font-size: 11px;
}

.gifoCard .gifoOverlay .gifoOverlayAct, .gifoCardTrending .gifoOverlay .gifoOverlayAct {
  display: none;
}

.gifoCard .gifoOverlay .gifoOverlayAct span, .gifoCardTrending .gifoOverlay .gifoOverlayAct span {
  padding: 6px 3px;
  cursor: pointer;
}

.gifoCard:hover .gifoOverlay {
  color: white;
  background-color: rgba(86, 46, 229, 0.7);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.gifoCard:hover .gifoOverlay .gifoOverlayAct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.gifoCardTrending:hover .gifoOverlay {
  color: white;
  background-color: rgba(86, 46, 229, 0.7);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.gifoCardTrending:hover .gifoOverlay .gifoOverlayAct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.imgExpandidaDet {
  margin-top: 50px;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imgExpandidaDet .imgExpandidaInfo h4, .imgExpandidaDet h5 {
  margin: 0;
}

footer {
  padding: 25px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: solid 5px #572EE5;
  background-color: white;
}

footer p {
  font-size: 12px;
  margin-top: 20px;
}

footer .socialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .socialmedia ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 20px;
}

footer .socialmedia ul li {
  padding: 0 10px;
  list-style-type: none;
}

footer .socialmedia ul li span {
  font-size: 18px;
  color: #CDD6E0;
  letter-spacing: 0;
  line-height: 28px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

footer .socialmedia ul li span:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #572EE5;
}

@media only screen and (max-width: 600px) {
  .menu {
    display: none;
  }
  nav {
    padding: 20px 40px;
  }
  nav li {
    padding: 10 0px;
  }
  section {
    padding: 20px;
  }
  .mainbanner {
    padding-top: 50px;
  }
  .mainbanner p {
    width: 100%;
  }
  .mainbanner .searchBar {
    width: 80%;
  }
  footer {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .socialmedia {
    display: block;
  }
  footer .socialmedia ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0 20px;
  }
}

@media only screen and (min-width: 601px) {
  .menu_mobile {
    display: none;
  }
}

.noResult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.noResult h4 {
  color: #50E3C2;
}

.boton {
  background-color: transparent;
  border: 1px solid #572EE5;
  border-radius: 40px;
  text-transform: uppercase;
  color: #572EE5;
  padding: 15px 30px 15px 30px;
  font-weight: 600;
  font-size: 12px;
  font-family: 'Montserrat', serif;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.boton:hover {
  background-color: #572EE5;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
}

.modal-content, .modal-content2, .modal-content3, .modal-content4 {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  height: 100%;
  max-width: 1200px;
}

.close {
  color: #572EE5;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: light;
}

.close:hover,
.close:focus {
  color: #572EE5;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.slides, .searchCard, .favCard, .uplCard {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #572EE5;
  font-weight: bold;
  font-size: 20px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#btn-stop-recording {
  display: none;
}

#btn-send {
  display: none;
}

.crearGifoSec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
}

.crearGifoSec .crearGifoImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 200px;
}

/* Style the form */
#regForm {
  padding: 40px;
}

/* Hide all steps by default: */
.tab {
  text-align: center;
  display: none;
  width: 600px;
}

.tab .tabCard {
  width: 100%;
  height: 350px;
  border: #572EE5 solid 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tab .tabCard h3 {
  color: #572EE5;
}

.tab .tabCard b {
  color: #50E3C2;
}

.tab .tabCard p {
  font-size: 12px;
  line-height: 24px;
}

.tab .tabCard .videoGifo {
  width: 100%;
  height: 300px;
  display: none;
}

.tab .boton {
  margin-top: 30px;
}

.pasos span:nth-child(1) {
  display: none;
}

.pasos span:nth-child(2) {
  padding: 10px 16px;
}

.pasos span {
  color: #572EE5;
  border: #572EE5 solid 1px;
  border-radius: 40px;
  padding: 10px 15px;
  font-size: 12px;
  width: 30px;
  margin: 0 7px;
}

.pasos span {
  color: #572EE5;
  border: #572EE5 solid 1px;
  border-radius: 40px;
  padding: 10px 15px;
  font-size: 12px;
  width: 30px;
  margin: 0 7px;
}

#btnBack {
  display: none;
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  text-decoration: none;
  font-size: 12px;
  color: #572EE5;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  height: 30px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: underline;
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent;
}

#btnBack:hover {
  -webkit-text-decoration-color: #00f3bb;
          text-decoration-color: #00f3bb;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.recordControls {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recordControls #columna {
  display: none;
  width: 130px;
}

.recordedGifo {
  height: 100%;
  display: none;
}

.recordedGifo2 {
  height: 100%;
}

.divisor {
  margin-top: 30px;
  width: 100%;
  height: 5px;
  border-radius: 20px;
  background-color: #572EE5;
}

.mdDiu {
  display: none;
}

.darkBg {
  background-color: #37383C !important;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.rllyDarkBg {
  background-color: #222326 !important;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.darkTxt {
  color: white !important;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/*# sourceMappingURL=style.css.map */